        <div id="divMain"  class="w3-container">
            <form name="productUpdateForm"  ng-submit="productUpdateForm.$valid && updateProduct()">
                <div class="w3-container"  style="padding:3px;width:80%;">
                    <h2>Product Detail</h2>
                </div><!-- End div.w3-container -->
                <div class="w3-container w3-card-4"  style="padding:3px;width:80%; overflow:auto; ">
                    <p>
                        <label class="w3-text"><b>Product Name</b></label><label class="w3-text-red w3-small"><b>*</b></label></p>
                    <p>
                        <input ng-model="inputPrdNm"class="w3-input_nowidth w3-border" style="width:90%"  ng-required="true"/></p>
                    <p>
                        <label class="w3-text"><b>Price (AUD)</b></label><label class="w3-text-red w3-small"><b>*</b></label></p>
                    <p>
                        $ <input ng-model="inputPrice"class="w3-input_nowidth w3-border" type = "number" placeholder="Decimal"ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-required="true"/></p>
                    <p>
                        <label class="w3-text"><b>Ingredient</b></label><label class="w3-text-red w3-small"><b>*</b></label></p>
                    <p>
                        <input ng-model="inputIngredient"class="w3-input_nowidth w3-border" style="width:90%"  ng-required="true"/></p>
                    <p>
                        <label class="w3-text"><b>Product Image</b></label><label class="w3-text-red w3-small"><b>*</b></label></p>
                    <div>
                    <p>
                        <img class="img-thumbnail" alt="Product Image" width="150" height="150" ng-src="{{imgurl}}" ngf-thumbnail="file || '/thumb.jpg'"/></p>
                    <p>
                        <input
                            type="file"
                            ngf-select
                            ng-model="file"
                            name="file"
                            ngf-pattern="'image/*'"
                            accept="image/*"
                            ngf-max-size="20MB"
                        /></p>
                    </div>
                    <p>
                        <label class="w3-text"><b>Description</b></label><label class="w3-text-red w3-small"><b>*</b></label></p>
                    <p>
                        <textarea rows="4" cols="50" class="w3-input_nowidth w3-border" style="width:90%" ng-model="inputPrdDesc"  ng-required="true"></textarea></p>
                </div><!-- End div.w3-container -->
                <div  class="w3-container"  style="padding:3px;width:80%;"></div>
                <div  class="w3-container"  style="padding:3px;width:80%;text-align: right;" >
                    <p>
                        <input type="button" value="List" class="w3-button w3-green" ng-click="goToProductList()">
                        <input type="button" value="Delete" class="w3-button w3-green" ng-click="deleteProduct()">
                        <input type="submit" value="Save"  class="w3-button w3-green">
                    </p>
                </div><!-- End div.w3-container -->
            </form>
        </div><!-- END div#divMain -->
