<div id="divMain"  class="w3-container">
    <div class="w3-container">
        <h2>Product List</h2>
    </div><!-- END div.w3-container -->
    <div class="w3-container"  style="padding:3px;width:80%;">
        <table class="w3-table-all">
            <tr class="w3-dark-grey w3-center">
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat = "product in products" ng-click="goProductDetail(product)">
                <td>{{ product.product_id }}</td>
                <td>{{ product.product_nm }}</td>
                <td>{{ product.description }}</td>
            </tr>
        </table>
    </div><!-- END div.w3-container -->
</div><!-- END div#divMain -->
