<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="css/front-end.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script type="text/javascript" src="./front-end.js"></script>
        <script type="text/javascript" src="./food/food-ctrl.js"></script>
        <base href="/">
        <title>AIP Assesment Website</title>
    </head>
    <body ng-app="frontApp">
		<header>
        	<div ng-controller="userCtrl">
                <div class="header-top not-logged-in" ng-show="{{user === ''}}">
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                </div>
                <div class="header-top logged-in" ng-hide="{{user === ''}}">
                    <a href="">Hello, {{user}}</a>
                    <a href="/logout">Log Out</a>
                </div>
            </div>
            <h1>AIP Assignment 3 Site</h1>
        	<nav>
            	<ul>
                	<li><a href="/">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Cart</a></li>
                     <li><a href="/food">Food Menu Api</a></li>
                </ul>
            </nav>
        </header>
        <div ng-view></div>
    </body>
</html>	