<!DOCTYPE html>
<httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
</httpProtocol>
<html lang="en">
    <head>
    	<base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="css/front-end.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <script type="text/javascript" src="./front-end.js"></script>
        <script type="text/javascript" src="./food/food-ctrl.js"></script>
        <script type="text/javascript" src="./admin/admin.js"></script>
        <script type="text/javascript" src="./product/product_controller.js"></script>
        <script type="text/javascript" src="./cart/shoplist_controller.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
        <title>Hello Fresh</title>
    </head>
    <body ng-app="frontApp">
		<header>
        	<div ng-controller="userCtrl">
                <div class="header-top not-logged-in" ng-show="{{user === ''}}">
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                </div>
                <div class="header-top logged-in" ng-hide="{{user === ''}}">
                    <a href="/myaccount">Hello, {{user}}</a>
                    <a href="/myaccount">My Account</a>
                    <a href="/logout">Log Out</a>
                </div>            
                <h1>Hello Fresh</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/product">Products</a></li>
                        <li><a href="/cart">Cart</a></li>
                         <li><a href="/food">Food Menu Api</a></li>
                        <li><a href="/admin/product">Admin</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div ng-view></div>
    </body>
</html>	