<div id="mainBody">
    <h2>Fill Up The Form Given Below to Sign Up: </h2>
    <form name="signUpForm" ng-submit="signUp()">
       <input type="text" name="name" ng-model="inputSignUpName" placeholder="Your First Name"/><br/>
       <input type="text" name="last-name" ng-model="inputSignUpLastName" placeholder="Your Last Name"/><br/>
       <input type="email" name="name" ng-model="inputSignUpEmail" placeholder="Your Email"/><br/>
       <input type="password" name="name" ng-model="inputSignUpPassword" placeholder="Your Password"/><br/>
       <input type="submit" class="w3-button w3-green w3-center">
    </form>
    <p>{{myTxt}}</p>
</div>