<div class="list-group" style="width: 100%" ng-controller="ProductController as store">
<div class="list-group-item" ng-repeat="product in store.products">
<h1>{{product.name}}      <em class="">{{product.price | currency}}</em>
<img ng-src="{{product.images[0].one}}"/>
</h1>

<section ng-init="tab =1">
	<ul class="">
	<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
	<li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Ingredients</a></li>
	</ul>
	<div class="panel" ng-show="tab === 1">
	<h4>Description</h4>
	<p>{{product.description}}</p>
	</div>
	<div class="panel" ng-show="tab === 2">
	<h4>Ingredients</h4>
	  <ul class="">
    <li class="cd" ng-model="">
      <strong>1</strong>
      .{{product.item1[0].ing}}: {{product.item1[0].quantity}}{{product.item1[0].unit}}</li>
    <li class="cd">
      <strong>2</strong>
      .{{product.item2[0].ing}}: {{product.item2[0].quantity}}{{product.item2[0].unit}}</li>
    <li class="cd">
      <strong>3</strong>
      .{{product.item3[0].ing}}: {{product.item3[0].quantity}}{{product.item3[0].unit}}</li>
    <li class="cd">
      <strong>4</strong>
      .{{product.item4[0].ing}}: {{product.item4[0].quantity}}{{product.item4[0].unit}}</li>
    <li class="cd1">
    <strong>5</strong>
      .{{product.item5[0].ing}}: {{product.item5[0].quantity}}{{product.item5[0].unit}}</li>
  </ul>
	</div>
	<button ng-show="product.canPurchase">Add to Cart</button>
</section>
</div>
</div>