<div id="divMain" class="w3-container">
        <div class="list-group-item" ng-repeat="product in products">
            <h1>{{product.product_nm}}      <em class="">{{product.price | currency}}</em>
                <img ng-src="{{product.image_path}}"/>
            </h1>
        
            <section ng-init="tab =1">
                <ul class="">
                	<li ng-class="{active:tab === 1}"><a href ng-click="tab = 1">Description</a></li>
                	<li ng-class="{active:tab === 2}"><a href ng-click="tab = 2">Ingredients</a></li>
                    <li ng-class="{active:tab === 2}"><a href ng-click="tab = 3">Reviews</a></li>
                </ul>
                <div class="panel" ng-show="tab === 1">
                	<h4>Description</h4>
                	<p>{{product.description}}</p>
                </div>
                <div class="panel" ng-show="tab === 2">
                	<h4>Ingredients</h4>
                	<p>{{product.ingredient}}</p>
                </div>
                <div class="panel" ng-show="tab === 3">
                	<h4>Reviews</h4>
                	<p>{{}}</p>
                </div>
                <button ng-click="addToCart(product.product_nm,product.price)">Add to Cart</button>
            </section>
        </div>
</div>