nav ul li,
ul.nolist {
	display:inline-block;
	padding:0 20px;
	list-style:none;
}
nav ul {
	padding:20px 0;
	border-bottom:1px solid #000;
}
body {
	background-color: rgba(211, 211, 211, 0.22);
}
header {
	text-align:center;
}
header a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.15em;
	font-weight: 400;
}
.header-top a {
	display:inline-block;
	padding:0 10px;
}
#mainBody {
	text-align:center;
	padding:10px;
}
#mainBody input {
	margin:10px;
	width:50%;
	outline:none;
}
.pull-right{
	float: right;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
.cart_table{
	width: 90%;
	margin: 50px;
}
.buybtn{
	background-color: #f44336;
	float: right;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.list-group-item{
	margin:5px;
	border: 2px dashed #BBBBBB;
}
.homepage{
	background-image: url(../images/background.jpg);
	height: 700px;
}
.title{
position: absolute;
top: 68%;
left: 45%;
color: #343434;
font-family: Montserrat;
text-align: center;
}
.title2 {
position: absolute;
top: 78%;
left: 28%;
text-align: center;
width: 60%;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 25px;
}
a, a:hover {
	text-decoration:none !important;
}
p.name {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0;
}
p.desc {
    padding: 0;
    margin: 0;
}
.reviewbox {
    width: 400px;
    margin: 15px auto;
    padding: 5px;
    border: 2px dashed #000;
}
div#divMain {
    text-align: left;
}
ul.nolist li {
    padding: 5px;
    background: #4caf50;
    margin: 5px 0px;
    color: #fff;
    display: inline-block;
}
ul.nolist li:hover {
	cursor:pointer;
	background:#BBB;
	color:#4caf50;
}
textarea.review {
	margin-bottom:10px;
}
.review {
    margin-bottom: 20px;
}
.list-group-item {
    padding: 10px 2px !important;
}
.col-sm-4 {
    padding: 0 5px;
}

.thumbnail {
	max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}
