<div>
  <h4>Ingredients</h4>
  <ul class="list-unstyled">
    <li class="cd">
      <strong>1</strong>
      .{{product.item1[0].ing}}: {{product.item1[0].quantity}}{{product.item1[0].unit}}</li>
    <li class="cd">
      <strong>2</strong>
      .{{product.item2[0].ing}}: {{product.item2[0].quantity}}{{product.item2[0].unit}}</li>
    <li class="cd">
      <strong>3</strong>
      .{{product.item3[0].ing}}: {{product.item3[0].quantity}}{{product.item3[0].unit}}</li>
    <li class="cd">
      <strong>4</strong>
      .{{product.item4[0].ing}}: {{product.item4[0].quantity}}{{product.item4[0].unit}}</li>
    <li class="cd1">
    <strong>5</strong>
      .{{product.item5[0].ing}}: {{product.item5[0].quantity}}{{product.item5[0].unit}}</li>
  </ul>
</div>
<script>var content=document.getElementsByClassName("cd1");if (content.length<4){content.style.display='none';}
</script>